@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');

.bg-text {
 font-family: 'Bilbo Swash Caps', cursive;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  font-size: 30px;
position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 600px;
  padding: 0px;
  text-align: center;}
 
 .old {border:0px;
max-height: 200;
 transform: translate(0%, -100%);
  background-color: rgb(0,0,0); 
  
  background-color: rgba(0,0,0, 0.2); 
  

    overflow:auto;
margin-bottom:0px;

    }
 .card mb-4 shadow-sm{ padding-left: 10px;
     
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
 
  margin-bottom:0px;
    }
.card-header{
    margin-bottom: 0px;
 padding-left: 10px;
   background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
    }
    .card-body{padding-left: 10px;
       
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
    }
    .card-deck mb-3 text-center{
        margin-bottom: 0px;
       padding: 0px;
      margin:0px;   
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
    }
    
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}
.list-unstyled mt-3 mb-4{padding: 0px;
         margin-bottom:0px;
    border:0px;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
    }















