@import url('https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps&display=swap');


.bg-text {
 font-family: 'Bilbo Swash Caps', cursive;
 
  color: white;
  font-weight: bold;
  font-size: 30px;
position: fixed;
  top: 30%;
  left: 30%;
}

.card{ font-family: 'Bilbo Swash Caps', cursive;
 background-color: #b3e6ff; 
 margin-bottom:0px;
 font-weight: bold;
  font-size: 20px; 
}
h6{font-size: 18px;
    font-weight:bold;
}
